
# --- PostgreSQL ---
POSTGRES_USER=nextstep_user
POSTGRES_PASSWORD=votre-mot-de-passe-securise
POSTGRES_DB=nextstep_db

# --- Keycloak ---
KEYCLOAK_ADMIN=admin
KEYCLOAK_ADMIN_PASSWORD=votre-mot-de-passe-admin
KEYCLOAK_DB=keycloak_db

# --- Keycloak Client Secret ---
Keycloak__ClientSecret=VOTRE_SECRET_CLIEN_KEYCLOAK


# --- ASP.NET Core ---
ASPNETCORE_ENVIRONMENT=Development
ASPNETCORE_URLS=http://+:5000


# --- LLM Provider API Keys (choisir un au moins) ---
OPENAI_API_KEY=sk-xxxxxxxxxxxxxxxxxxxx
# GROQ_API_KEY=gsk_xxxxxxxxxxxxxxxxxxxx


