# ==========================================
# NEXTSTEP - CONFIGURATION PRODUCTION (VM)
# ==========================================

# --- INFRASTRUCTURE (IPs des VMs) ---
VM1_IP=192.168.56.10
VM2_IP=192.168.56.11

# --- DOCKER HUB ---
DOCKER_HUB_USER=ton_username_dockerhub

# --- DATABASE (PostgreSQL) ---
DB_USER=nextstep_user
DB_PASS=A_Changer_Absolument_123!
DB_NAME=nextstep_db

# --- KEYCLOAK ---
KC_DB_NAME=keycloak_db
KC_DB_USER=keycloak_user
KC_DB_PASS=Keycloak_Secret_99!

# --- STORAGE (MinIO) ---
MINIO_USER=minio_admin
MINIO_PASS=Minio_Secret_456!

# --- SONARQUBE ---
SONAR_DB_USER=sonar_user
SONAR_DB_PASS=Sonar_Pass_789!
SONAR_TOKEN=ton_token_genere_par_sonar
